* {
    box-sizing: border-box;
}

.section {
    width: 100%;
}

.awesome {
    width: 100%;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.social-media-class {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-media::after {
    display: block;
    border-bottom: 2px solid #cccccc;
    width: 100%;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.social-media-content {
    /* display: flex;
    flex-direction: column; */
    max-width: 364px;
    /* display: block;
    position: relative; */
}

.social-media-title {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-align: center; */
    color: #333333;
    margin-bottom: 10px;
    font-weight: 400;
}

.social-media-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* text-align: center; */
    font-size: 14px;
    color: #86878b;
    font-weight: 400;  
    line-height: normal;
}

.social-media-icons {
    width: 634px;
}

.icon-font {
    font-size: 46px;
}

.big-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.title::after {
    display: block;
    border-bottom: 2px solid rgb(255, 147, 6);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.title {
        text-align: center;
        padding-top: 86px;
        font-size: 36px;
        font-family: Raleway;
        font-weight: 400;
}

.block {
    border-bottom: 2px solid #ff8c2c;
    width: 64px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.awesome-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #86878b;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 83px;
}

.awesome-cart {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.awesome-cart-item {
    width: 355px;
    margin: auto;
}

.image-container {
    width: 70px;
    height: 70px;
    border: 3px solid;
    border-color: #ff8c2c;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

img {
    margin: 25%;
}

.awesome-cart-title {
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #333333;
    margin-bottom: 30px;
    font-weight: 400;
}

.awesome-cart-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 14px;
    color: #86878b;
    font-weight: 400;  
    line-height: normal;  
}

#img2 {
    margin: 30%;
}

.section {
    width: 100%;
}

.back-pricing {
max-width: 100%;
background-color: #f5f5f5;
margin-top: 180px;
margin-left: auto;
margin-right: auto;
}

.pricing-cart {
max-width: 343px;
}

.pricing-carts {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;
    padding-bottom: 86px;
}

.pricing-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px;
}

.pricing-cart-item {
    width: 343px;
    height: 59px;
    background-color: #333333;
}

.pricing-cart-title {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
    padding: 5%;
}

.pricing-cart-price {
    width: 343px;
    height: 100px;
    background-color: #333333;
    border-top: 2px solid white;
    border-bottom: 2px solid #ffffff;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.price {
    font-family: Raleway;
    font-size: 35px; 
    color: white;
    font-weight: 900;
}

span {
    font-size: 94px;
    font-family: Raleway;
    font-weight: 1100;
    color: white;
}

.pricing-cart-subtitle {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    color: rgba(255, 255, 255, 0.438);
    font-weight: 300;
    padding: 7%;
    font-style: italic;
}

.pricing-line {
    width: 343px;
    height: 5px;
    background-color: #ff8b38;
}

.pricing-line-prof {
    width: 343px;
    background-color: #ff8b38;
}

.text-prof {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    text-align: center;
    color: #ffffff;
    font-weight: 600;
    padding: 3.5%;
    text-transform: uppercase;
}

.list-item {
    width: 343px;
    height: 40px;
    background-color: #ffffff;
    border-bottom: 2px solid #f5f5f5; 
    text-align: center;
    padding: 3%;
    text-transform: uppercase;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #86878b;
    font-weight: 450;
}

.saying-blocks {
    max-width: 100%;
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.saying-cart {
    max-width: 273px;
    margin: auto;
}

.saying-text-back {
    background-color: #f5f5f5;
    /* position: relative; */
}

.saying-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #86878b;
    font-weight: 400;
    padding: 20px 10px 20px 10px;
    font-style: italic;
    line-height: 18px;
}

.saying-text-back::after {
    content: ''; 
    position: absolute;
    border: 10px solid transparent;
    border-top: 15px solid #f5f5f5;
    margin-left: 40px;
}

.saying-person {
    display: flex;
    /* justify-content: center; */
    flex-direction: row;
    margin-top: 10px;
}

.saying-name {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 25px;
}

.name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    color: #333333;
    font-weight: 600;
    margin-bottom: 5px;
}

.profession {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: #86878b;
    font-weight: 300;
}

.design {
    max-width: 100%;
    background-image: url("../images/4.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    box-shadow: inset 0 0 0 1400px rgba(0,0,0,.7);
    padding-bottom: 25px;
}

.title-design {
    text-align: center;
    padding-top: 50px;
    font-size: 36px;
    font-family: Raleway;
    font-weight: 400;
    color: white;
}

.title-design::after {
    display: block;
    border-bottom: 2px solid rgb(255, 255, 255);
    width: 64px;
    content: ' ';
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.awesome-text-design {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 14px;
    color: white;
    font-weight: 400;
    margin-bottom: 30px; 
    margin-top: 30px;
}

.block-white {
    border-bottom: 2px solid white;
    width: 64px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.button {
    width: 135px;
    height: 42px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid white;
    border-radius: 5px;
    /* margin-bottom: 50px; */
}

.button:hover {
    background-color: white;
    transition: 1s ease;
}

.button-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    color: #ffffff;
    font-weight: 450;
    text-align: center;
    padding: 8%;
}

.button-text:hover {
    color: rgb(143, 143, 143);
    transition: 1s ease;
    font-weight: 500;
}

footer {
    width: 100%;
    /* display: flex;
    justify-content: center;
    flex-wrap: wrap; */
    /* background-color: #000000; */
}

.social-block {
    background-color: #000000;
    max-width: 100%;
    padding-bottom: 25px;
} 

.design-contanier {
    /* background-image: url("../images/4.png");
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    box-shadow: inset 0 0 0 1400px rgba(0,0,0,.5); */
}

.social-icons {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

i {
    display: block;
    font-size: 900;
    color:#cccccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}

i:hover {
    color:  #ff8b38;
}

.wifi-icon {
    transform: rotate(45deg);
}

.social-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    text-align: center;
    color: rgba(255, 255, 255, 0.438);
    font-weight: 400;
}